<h1 align="center"><%= "Category: " + @category.name %></h1>
<div align="center" class="row">
  <span class="badge-admin"><%= link_to "Edit Category", edit_category_path(@category) %></span>
  </br>
  </br>
</div>
<div>
  <%= render 'articles/article', obj: @category_articles %>
</div>

<div align="center">
  <%= will_paginate @category_articles%>
</div>