<div>
  <footer class="footer center">
    <small>
      Copyright &copy; <a href="#">Ruby on Rails web development</a>
      by <a href="#">Masihur R Maruf</a>
      <ul>
        <li>
          <%= link_to 'About', about_path %>
        </li>
      </ul>
    </small>
  </footer>
</div>